Source: kalliumos-default-settings
Section: admin
Priority: optional
Maintainer: KalliumOS <git@kraslovision.com>
Build-Depends: debhelper (>= 9.20160709)
Standards-Version: 3.9.6

Package: kalliumos-default-settings
Provides: chromebook 
Architecture: all
Priority: optional
Depends: ${misc:Depends}, xfce4-settings, xubuntu-default-settings
Replaces: xubuntu-default-settings, xfce4-power-manager, xfce4-settings, lightdm-gtk-greeter 
Description: KalliumOS default settings 
 Pretty much a mashup of xubuntu and Gallium

